<a href="https://colab.research.google.com/github/HumanitiesDataAnalysis/code20/blob/master/Week_2_Lists_and_iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lists and Iteration

To this point, we've been looking at two types of basic elements: numbers and letters. You can turn any letter into a number with `ord`; you can turn most numbers into letters with `chr`. Both numbers and letters can be added together, but there's a difference in what comes out.

In [9]:
2 + 2

4

In [10]:
"2" + "2"

'22'

"22" is not a letter--it is *two* letters. This element--or data type--is called a **string**. You can't do everything with a string that you can with a character, for example, this causes an error.

In [11]:
ord("22")

TypeError: ignored

## Basic Data Types

There are only four basic data types in Python. They are:

* strings ("hello")
* integers (1, 2, 3, 4)
* logical (True or False)
* real numbers, or "floats": (1.1, 3.3, etc.)

Everything else is built up out these. The difference between integers and floats probably seems odd, but it has to do with the underlying representation of numbers in the computer; every number in a computer is represented as a [fraction of two integers](https://en.wikipedia.org/wiki/Floating-point_arithmetic#:~:text=A%20floating%2Dpoint%20number%20is,%C3%971000%20or%20145%2C000%2F100.), which can lead to some weird results. For example:

In [ ]:
1.2 - 1

## Lists

But computers are not just calculators on these items. Things start to get more interesting as we bundle together items into groups. Strings are (in a conceptual sense, though actually not technically) the first instance of something called a *list*, which is a set of different items.

Lists are so important that they have their own set of characters associated with them; the square brackets. You can create a list by using square brackets:

In [28]:
my_list = [1, 2, 3, 4, 5]

And you can access the elements inside a list by using square brackets after the variable name. To get the fourth element of `my_list`, type `my_list[3]`; or to get the fifth element of a string, type `my_string[4]`.

**NOTE**: One very confusing thing here is that `my_list[3]` is *not* the third element, but the *fourth* element; that's because **in python, lists start at 0**. Is this a good thing? It's not clear to me--it turns out to make some things easier, and others harder. Here's [an article](http://exple.tive.org/blarg/2013/10/22/citation-needed/), if you want to read more.

But be aware that this issue will bedevil you forever in any language.

In [29]:
my_list[3]

4

In [31]:
"Some letters"[1]

'h'

In [33]:
"Some letters"[0]

'S'

In [34]:
"Some letters"[-1]

's'

You can also use colons to take out a *slice* of a list: play around with these numbers.

In [36]:
"Some letters"[4:9]

' lett'

# Loops and Iteration

The last thing that you can do with lists--and the first place that computers start to be useful--is **loop** over them.

Look at this code. It introduces three new things. 

1. The words `for` and `in`. These are fundamental elements of python syntax, called "control flow operators". They are not functions, but do make up building blocks of code.
2. A new way to define a variable; saying `for letter in "Some letters"` means that the value of letter will be reassigned at each stage in the loop.
3. An element of python syntax involving spacing. See how how "print(letter)" is indented? That's how you indicate what happens *inside* the loop.

In [39]:
my_string = "Some letters"

for letter in my_string:
  print(letter)

S
o
m
e

l
e
t
t
e
r
s

## While loops

Another type of loop is a 'while' loop. It runs a test at every stage in the loop. We can use this, say, to print a table of numbers and their codes.

In [74]:
i = 0

while i < 128:
  i = i+1
  print(i, chr(i))

1 
2 
3 
4 
5 
6 
7 
8 
9
10

11
12
13
14 
15 
16 
17 
18 
19 
20 
21 
22 
23 
24 
25 
26 
27 
28
29
30
31
32
33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~
127 
128 

## Infinite Loops

Be careful to make sure something changes inside your while loop--otherwise, it might run forever! The code below should never stop. Try running it; to "break" the block, you can press the play button next to the cell. After you're done, run the cell below to see how large "i" has gotten.

If there were a print statement inside this loop, it would cause havoc.

In [70]:
i = 1
while i > 0:
  i = i+1

KeyboardInterrupt: ignored

In [ ]:
image_code = 128070

while image_code < 128081:
  color_code = 127995
  all_images_for_point = chr(image_code)
  while color_code < 128000:
    all_images_for_point = all_images_for_point + chr(image_code) + chr(color_code)
    color_code = color_code + 1
  print(all_images_for_point)
  image_code = image_code + 1