<a href="https://colab.research.google.com/github/HumanitiesDataAnalysis/code20/blob/master/Week_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Think about the difference between these two things.

In [25]:
def double_1(sequence):
  output = []
  for elem in sequence:
    output = output + [elem * 2]
  return output

def double_2(sequence):
  output = ""
  for elem in sequence:
    output = output + elem * 2
  return output

The reason you can't add a number to a list is that it's ambiguous what it should be! Sometimes--as in the `numpy` module we're not using--the result would be adding 3 to each element. Other times it would be adding just to the end of a list.

In [32]:
import numpy as np

np.array([1, 2, 3]) + 3

array([4, 5, 6])

And how about this one?

In [38]:
def double_3(sequence):
  output = []
  for elem in sequence:
    output = output + [elem * 2]
  print(output)

value = double_3(["A", "B"])


3 + 3.3

['AA', 'BB']

6.3

What I was terrified someone would do:

In [50]:
def encode(string, change_each_step = 1):
  shift = 0
  output = ""
  for letter in string:
    point = ord(letter)
    output = output + chr(point + shift)
    shift = shift + change_each_step
  return output



encode("OOOOOOOOOOOO")

encode("BCDEFGHI", change_each_step=-1)

'BBBBBBBB'

In [49]:

def exclamation(strings):
  for elem in strings:
    try:
      print(elem + "!")
    except:
      pass

exclamation(["Good", 2, "bad", "ugly"])

Good!
bad!
ugly!